html.dark {
  --mauve1: hsl(246, 6.0%, 9.0%);
  --mauve2: hsl(240, 5.1%, 11.6%);
  --mauve3: hsl(241, 5.0%, 14.3%);
  --mauve4: hsl(242, 4.9%, 16.5%);
  --mauve5: hsl(243, 4.9%, 18.8%);
  --mauve6: hsl(244, 4.9%, 21.5%);
  --mauve7: hsl(245, 4.9%, 25.4%);
  --mauve8: hsl(247, 4.8%, 32.5%);
  --mauve9: hsl(252, 4.0%, 45.2%);
  --mauve10: hsl(247, 3.4%, 50.7%);
  --mauve11: hsl(253, 4.0%, 63.7%);
  --mauve12: hsl(256, 6.0%, 93.2%);

  --mauveA1: hsla(0, 0%, 0%, 0);
  --mauveA2: hsla(240, 76.7%, 91.2%, 0.031);
  --mauveA3: hsla(240, 86.0%, 95.8%, 0.061);
  --mauveA4: hsla(240, 91.8%, 94.7%, 0.087);
  --mauveA5: hsla(240, 91.5%, 95.8%, 0.113);
  --mauveA6: hsla(240, 92.0%, 93.8%, 0.148);
  --mauveA7: hsla(240, 94.8%, 95.3%, 0.191);
  --mauveA8: hsla(249, 98.1%, 95.2%, 0.273);
  --mauveA9: hsla(248, 97.6%, 96.2%, 0.416);
  --mauveA10: hsla(248, 95.5%, 96.6%, 0.477);
  --mauveA11: hsla(250, 98.0%, 98.0%, 0.615);
  --mauveA12: hsla(240, 93.9%, 99.6%, 0.931);

  --violet1: hsl(250, 20.0%, 10.2%);
  --violet2: hsl(255, 30.3%, 12.9%);
  --violet3: hsl(253, 37.0%, 18.4%);
  --violet4: hsl(252, 40.1%, 22.5%);
  --violet5: hsl(252, 42.2%, 26.2%);
  --violet6: hsl(251, 44.3%, 31.1%);
  --violet7: hsl(250, 46.8%, 38.9%);
  --violet8: hsl(250, 51.8%, 51.2%);
  --violet9: hsl(252, 56.0%, 57.5%);
  --violet10: hsl(251, 63.2%, 63.2%);
  --violet11: hsl(250, 95.0%, 76.8%);
  --violet12: hsl(252, 87.0%, 96.4%);

  --surface-bg-color: var(--mauve1);
  --header-bg-color: var(--mauve1);
  --local-nav-bg-color: var(--mauve1);
  --header-border-color: var(--mauve4);
  --sidebar-border-color: var(--mauve4);
  --aside-border-color: var(--mauve4);
  --base-text-color: var(--mauve12);
  --nav-items-link-color: hsl(253deg 4.47% 72%);
  --nav-items-hover-link-color: var(--mauve12);
  --nav-item-separator-color: var(--mauve7);
  --popup-menu-bg-color: var(--mauve4);
  --popup-menu-link-color: var(--mauve12);
  --popup-menu-separator-color: var(--mauve8);
  --prose-text-color: hsl(253deg 4.47% 72%);
  --prose-headings-color: var(--base-text-color);
  --pre-background-color: var(--mauve4);
  --code-text-color: var(--violet11);
  --code-bg-color: var(--mauve5);
  --sidebar-overlay-bg-color: rgba(0, 0, 0, .6);
  --sidebar-link-text-color: hsl(253deg 4.47% 72%);
  --sidebar-hover-link-bg-color: var(--mauveA5);
  --sidebar-hover-link-text-color: var(--mauve12);
  --sidebar-active-link-bg-color: var(--violet5);
  --sidebar-loading-link-bg-color: hsl(252deg 42.2% 26.2% / 32%);
  --sidebar-active-link-text-color: var(--violet12);
  --aside-active-link-text-color: var(--violet11);
  --prose-table-border-color: var(--mauve6);
  --pre-title-border-color: var(--mauve6);
  --pre-title-text-color: var(--mauve11);
  --pre-tabs-text-color: var(--mauve11);
  --pre-tabs-active-text-color: var(--mauve12);
  --pre-tabs-active-border-color: var(--violet10);
  --copy-code-text-color: hsl(0deg 0.84% 36.56%);
  --copy-code-bg-color: hsl(260deg 2.99% 14.21%);
  --copy-code-border-color: hsl(260deg 1.68% 21.01%);
  --note-icon-color: var(--violet10);
  --warning-icon-color: hsl(24, 94.0%, 50.0%);
  --tip-icon-color: hsl(151, 55.0%, 41.5%);
  --success-tick-color: hsl(151, 55.0%, 41.5%);
  --code-comment-color: var(--mauve11);
  --code-highlight-bg-color: hsl(0deg 0% 0% / 20%);
  --code-highlight-border-color: var(--violet8);
  --code-insert-bg-color: hsla(158, 98.6%, 59.7%, 0.105);
  --code-insert-border-color: hsla(152, 99.9%, 66.5%, 0.661);
  --code-delete-bg-color: hsla(359, 99.1%, 61.1%, 0.130);
  --code-delete-border-color: hsla(358, 100%, 67.5%, 0.942);
  --sidebar-backdrop-color: hsl(0deg 0% 0% / 80%);
  --errors-bg-color: hsl(356, 43.4%, 16.4%);
  --errors-border-color: hsl(356, 51.1%, 21.9%);
  --errors-text-color: hsl(351, 89.0%, 96.0%);
  --caption-error-border-color: hsl(358, 85.3%, 64.0%);
  --caption-error-bg-color: hsl(358, 85.3%, 64.0%);
  --caption-success-border-color: hsl(151, 55.0%, 41.5%);
  --caption-success-bg-color: hsl(151, 55.0%, 41.5%);
  --caption-info-border-color: hsl(226, 70.0%, 55.5%);
  --caption-info-bg-color: hsl(226, 70.0%, 55.5%);
}
