html.dark {
  --progress-bar-color: var(--violet-11);
  --surface-bg-color: var(--mauve-1);
  --header-bg-color: var(--mauve-1);
  --local-nav-bg-color: var(--mauve-1);
  --header-border-color: var(--mauve-4);
  --sidebar-border-color: var(--mauve-4);
  --aside-border-color: var(--mauve-4);
  --base-text-color: var(--mauve-12);
  --nav-items-link-color: var(--mauve-11);
  --nav-items-hover-link-color: var(--mauve-12);
  --nav-item-separator-color: var(--mauve-7);
  --popup-menu-bg-color: var(--mauve-4);
  --popup-menu-link-color: var(--mauve-12);
  --popup-menu-separator-color: var(--mauve-8);
  --prose-text-color: var(--mauve-11);
  --prose-headings-color: var(--base-text-color);
  --pre-background-color: var(--mauve-3);
  --code-text-color: var(--violet-11);
  --code-bg-color: var(--mauve-5);
  --sidebar-overlay-bg-color: rgba(0, 0, 0, .6);
  --sidebar-link-text-color: var(--mauve-11);
  --sidebar-hover-link-bg-color: var(--mauve-a5);
  --sidebar-hover-link-text-color: var(--mauve-12);
  --sidebar-active-link-bg-color: var(--violet-5);
  --sidebar-loading-link-bg-color: hsl(252deg 42.2% 26.2% / 32%);
  --sidebar-active-link-text-color: var(--violet-12);
  --aside-link-text-color: var(--mauve-11);
  --aside-active-link-text-color: var(--violet-11);
  --prose-table-border-color: var(--mauve-a5);
  --pre-title-border-color: var(--mauve-a5);
  --pre-title-text-color: var(--mauve-11);
  --pre-tabs-text-color: var(--mauve-11);
  --pre-tabs-active-text-color: var(--mauve-12);
  --pre-tabs-active-border-color: var(--violet-10);
  --copy-code-text-color: hsl(0deg 0.84% 36.56%);
  --copy-code-bg-color: hsl(260deg 2.99% 14.21%);
  --copy-code-border-color: hsl(260deg 1.68% 21.01%);
  --note-icon-color: var(--violet-10);
  --warning-icon-color: var(--orange-a11);
  --tip-icon-color: hsl(151, 55.0%, 41.5%);
  --success-tick-color: hsl(151, 55.0%, 41.5%);
  --code-comment-color: var(--mauve-11);
  --code-highlight-bg-color: hsl(0deg 0% 0% / 20%);
  --code-highlight-border-color: var(--violet-8);
  --code-insert-bg-color: hsla(158, 98.6%, 59.7%, 0.105);
  --code-insert-border-color: hsla(152, 99.9%, 66.5%, 0.661);
  --code-delete-bg-color: hsla(359, 99.1%, 61.1%, 0.130);
  --code-delete-border-color: hsla(358, 100%, 67.5%, 0.942);
  --sidebar-backdrop-color: hsl(0deg 0% 0% / 80%);
  --errors-bg-color: hsl(356, 43.4%, 16.4%);
  --errors-border-color: hsl(356, 51.1%, 21.9%);
  --errors-text-color: hsl(351, 89.0%, 96.0%);
  --caption-error-border-color: hsl(358, 85.3%, 64.0%);
  --caption-error-bg-color: hsl(358, 85.3%, 64.0%);
  --caption-success-border-color: hsl(151, 55.0%, 41.5%);
  --caption-success-bg-color: hsl(151, 55.0%, 41.5%);
  --caption-info-border-color: var(--iris-a11);
  --caption-info-bg-color: var(--iris-a10);

  --disclosure-wrapper-border-color: var(--mauve-6);
  --disclosure-wrapper-bg-color: var(--mauve-4);
  --disclosure-panel-border-color: var(--mauve-6);
  --disclosure-panel-bg-color: var(--mauve-1);

  --feature-highlight-border-color: var(--mauve-a4);
  --feature-highlight-list-color: var(--mauve-12);

  --sponsor-item-border-color: var(--mauve-8);

  --prose-h2-border-color: var(--mauve-4);
  --prose-blockquote-bg-color: var(--mauve-3);
  --prose-alert-bg-color: var(--mauve-3);
  --prose-alert-border-color: var(--mauve-5);

  --aside-sponsor-bg-color: var(--mauve-3);
  --aside-sponsor-text-color: var(--mauve-11);
  --aside-sponsor-hover-text-color: var(--mauve-12);

  --footer-text-color: var(--mauve-11);
  --footer-hover-text-color: var(--mauve-12);
  --footer-border-color: var(--mauve-4);

  --prose-dl-border-color: var(--mauve-4);
  --prose-hr-border-color: var(--mauve-4);
}
