:root {
  --mauve1: hsl(300, 20.0%, 99.0%);
  --mauve2: hsl(300, 7.7%, 97.5%);
  --mauve3: hsl(294, 5.5%, 95.3%);
  --mauve4: hsl(289, 4.7%, 93.3%);
  --mauve5: hsl(283, 4.4%, 91.3%);
  --mauve6: hsl(278, 4.1%, 89.1%);
  --mauve7: hsl(271, 3.9%, 86.3%);
  --mauve8: hsl(255, 3.7%, 78.8%);
  --mauve9: hsl(252, 4.0%, 57.3%);
  --mauve10: hsl(253, 3.5%, 53.5%);
  --mauve11: hsl(252, 4.0%, 44.8%);
  --mauve12: hsl(260, 25.0%, 11.0%);

  --mauveA1: hsla(300, 89.3%, 18.3%, 0.012);
  --mauveA2: hsla(300, 78.1%, 9.0%, 0.028);
  --mauveA3: hsla(300, 99.5%, 7.7%, 0.051);
  --mauveA4: hsla(270, 90.5%, 6.1%, 0.071);
  --mauveA5: hsla(270, 83.0%, 5.2%, 0.091);
  --mauveA6: hsla(300, 93.5%, 3.7%, 0.114);
  --mauveA7: hsla(270, 82.6%, 3.3%, 0.142);
  --mauveA8: hsla(255, 95.2%, 3.7%, 0.220);
  --mauveA9: hsla(255, 94.8%, 3.7%, 0.444);
  --mauveA10: hsla(253, 96.5%, 3.8%, 0.483);
  --mauveA11: hsla(247, 97.9%, 3.2%, 0.569);
  --mauveA12: hsla(261, 98.7%, 3.0%, 0.918);

  --violet1: hsl(255, 65.0%, 99.4%);
  --violet2: hsl(252, 100%, 99.0%);
  --violet3: hsl(252, 96.9%, 97.4%);
  --violet4: hsl(252, 91.5%, 95.5%);
  --violet5: hsl(252, 85.1%, 93.0%);
  --violet6: hsl(252, 77.8%, 89.4%);
  --violet7: hsl(252, 71.0%, 83.7%);
  --violet8: hsl(252, 68.6%, 76.3%);
  --violet9: hsl(252, 56.0%, 57.5%);
  --violet10: hsl(251, 48.1%, 53.5%);
  --violet11: hsl(250, 43.0%, 48.0%);
  --violet12: hsl(254, 60.0%, 18.5%);

  --surface-bg-color: #fff;
  --header-bg-color: var(--mauve1);
  --local-nav-bg-color: var(--mauve1);
  --header-border-color: var(--mauve6);
  --sidebar-border-color: var(--mauve6);
  --aside-border-color: var(--mauve6);
  --base-text-color: var(--mauve12);
  --nav-items-link-color: var(--mauve11);
  --nav-items-hover-link-color: var(--mauve12);
  --nav-item-separator-color: var(--mauve7);
  --popup-menu-bg-color: var(--mauve4);
  --popup-menu-link-color: var(--mauve12);
  --popup-menu-separator-color: var(--mauve8);
  --prose-text-color: var(--base-text-color);
  --prose-headings-color: var(--base-text-color);
  --pre-background-color: var(--mauve12);
  --code-text-color: var(--violet11);
  --code-bg-color: var(--mauve5);
  --sidebar-link-text-color: var(--base-text-color);
  --sidebar-overlay-bg-color: rgba(0, 0, 0, .6);
  --sidebar-hover-link-bg-color: var(--mauveA5);
  --sidebar-hover-link-text-color: var(--base-text-color);
  --sidebar-active-link-bg-color: var(--violet5);
  --sidebar-loading-link-bg-color: hsl(252deg 85.1% 93% / 41%);
  --sidebar-active-link-text-color: var(--violet11);
  --aside-active-link-text-color: var(--violet11);
  --prose-table-border-color: var(--mauve6);
  --pre-title-border-color: rgba(253,252,253,.14);
  --pre-title-text-color: var(--mauve9);
  --pre-tabs-text-color: var(--mauve9);
  --pre-tabs-active-text-color: var(--mauve1);
  --pre-tabs-active-border-color: var(--violet8);
  --copy-code-text-color: hsl(0deg 0% 41.59%);
  --copy-code-bg-color: hsl(260deg 11.09% 10.15%);
  --copy-code-border-color: hsl(260deg 4.2% 24.25%);
  --note-icon-color: var(--violet10);
  --warning-icon-color: hsl(35, 100%, 55.5%);
  --success-tick-color: hsl(151, 55.0%, 41.5%);
  --code-comment-color: var(--mauve9);
  --code-highlight-bg-color: hsl(261.43deg 13.54% 21.91% / 61%);
  --code-highlight-border-color: var(--violet8);
  --code-insert-bg-color: hsla(158, 98.6%, 59.7%, 0.105);
  --code-insert-border-color: hsla(152, 99.9%, 66.5%, 0.661);
  --code-delete-bg-color: hsla(359, 99.1%, 61.1%, 0.130);
  --code-delete-border-color: hsla(358, 100%, 67.5%, 0.942);
  --sidebar-backdrop-color: hsl(0deg 0% 0% / 20%);
  --errors-bg-color: hsl(360, 97.9%, 94.8%);
  --errors-border-color: hsl(360, 81.7%, 87.8%);
  --errors-text-color: hsl(358, 65.0%, 48.7%);
  --caption-error-border-color: hsl(358, 75.0%, 59.0%);
  --caption-error-bg-color: hsl(358, 75.0%, 59.0%);
  --caption-success-border-color: hsl(151, 55.0%, 41.5%);
  --caption-success-bg-color: hsl(151, 55.0%, 41.5%);
  --caption-info-border-color: hsl(226, 70.0%, 55.5%);
  --caption-info-bg-color: hsl(226, 70.0%, 55.5%);
}
