:root {
  --progress-bar-color: var(--violet-11);
  --surface-bg-color: #fff;
  --header-bg-color: var(--mauve-1);
  --local-nav-bg-color: var(--mauve-1);
  --header-border-color: var(--mauve-6);
  --sidebar-border-color: var(--mauve-6);
  --aside-border-color: var(--mauve-6);
  --base-text-color: var(--mauve-12);
  --nav-items-link-color: var(--mauve-11);
  --nav-items-hover-link-color: var(--mauve-12);
  --nav-item-separator-color: var(--mauve-7);
  --popup-menu-bg-color: var(--mauve-4);
  --popup-menu-link-color: var(--mauve-12);
  --popup-menu-separator-color: var(--mauve-8);
  --prose-text-color: var(--base-text-color);
  --prose-headings-color: var(--base-text-color);
  --pre-background-color: var(--mauve-12);
  --code-text-color: var(--violet-11);
  --code-bg-color: var(--mauve-5);
  --sidebar-link-text-color: var(--base-text-color);
  --sidebar-overlay-bg-color: rgba(0, 0, 0, .6);
  --sidebar-hover-link-bg-color: var(--mauve-a5);
  --sidebar-hover-link-text-color: var(--base-text-color);
  --sidebar-active-link-bg-color: var(--violet-5);
  --sidebar-loading-link-bg-color: hsl(252deg 85.1% 93% / 41%);
  --sidebar-active-link-text-color: var(--violet-11);
  --aside-active-link-text-color: var(--violet-11);
  --prose-table-border-color: var(--mauve-6);
  --pre-title-border-color: rgba(253,252,253,.14);
  --pre-title-text-color: var(--mauve-9);
  --pre-tabs-text-color: var(--mauve-9);
  --pre-tabs-active-text-color: var(--mauve-1);
  --pre-tabs-active-border-color: var(--violet-8);
  --copy-code-text-color: hsl(0deg 0% 41.59%);
  --copy-code-bg-color: hsl(260deg 11.09% 10.15%);
  --copy-code-border-color: hsl(260deg 4.2% 24.25%);
  --note-icon-color: var(--violet-10);
  --warning-icon-color: hsl(24, 94.0%, 50.0%);
  --tip-icon-color: hsl(152, 57.5%, 37.6%);
  --success-tick-color: hsl(151, 55.0%, 41.5%);
  --code-comment-color: var(--mauve-9);
  --code-highlight-bg-color: hsl(261.43deg 13.54% 21.91% / 61%);
  --code-highlight-border-color: var(--violet-8);
  --code-insert-bg-color: hsla(158, 98.6%, 59.7%, 0.105);
  --code-insert-border-color: hsla(152, 99.9%, 66.5%, 0.661);
  --code-delete-bg-color: hsla(359, 99.1%, 61.1%, 0.130);
  --code-delete-border-color: hsla(358, 100%, 67.5%, 0.942);
  --sidebar-backdrop-color: hsl(0deg 0% 0% / 20%);
  --errors-bg-color: hsl(360, 97.9%, 94.8%);
  --errors-border-color: hsl(360, 81.7%, 87.8%);
  --errors-text-color: hsl(358, 65.0%, 48.7%);
  --caption-error-border-color: hsl(358, 75.0%, 59.0%);
  --caption-error-bg-color: hsl(358, 75.0%, 59.0%);
  --caption-success-border-color: hsl(151, 55.0%, 41.5%);
  --caption-success-bg-color: hsl(151, 55.0%, 41.5%);
  --caption-info-border-color: hsl(226, 70.0%, 55.5%);
  --caption-info-bg-color: hsl(226, 70.0%, 55.5%);

  --disclosure-wrapper-border-color: var(--mauve-6);
  --disclosure-wrapper-bg-color: var(--mauve-4);
  --disclosure-panel-border-color: var(--mauve-6);
  --disclosure-panel-bg-color: var(--mauve-1);

  --feature-highlight-bg-color: var(--mauve-12);
  --feature-highlight-list-color: var(--mauve-12);

  --sponsor-item-border-color: var(--mauve-dark-8);

  --prose-h2-border-color: var(--mauve-7);
  --prose-blockquote-bg-color: var(--mauve-4);
  --prose-alert-bg-color: var(--mauve-4);
  --prose-alert-border-color: var(--mauve-6);
}
