:root {
  --mauve1: hsl(300, 20.0%, 99.0%);
  --mauve2: hsl(300, 7.7%, 97.5%);
  --mauve3: hsl(294, 5.5%, 95.3%);
  --mauve4: hsl(289, 4.7%, 93.3%);
  --mauve5: hsl(283, 4.4%, 91.3%);
  --mauve6: hsl(278, 4.1%, 89.1%);
  --mauve7: hsl(271, 3.9%, 86.3%);
  --mauve8: hsl(255, 3.7%, 78.8%);
  --mauve9: hsl(252, 4.0%, 57.3%);
  --mauve10: hsl(253, 3.5%, 53.5%);
  --mauve11: hsl(252, 4.0%, 44.8%);
  --mauve12: hsl(260, 25.0%, 11.0%);

  --mauveA1: hsla(300, 89.3%, 18.3%, 0.012);
  --mauveA2: hsla(300, 78.1%, 9.0%, 0.028);
  --mauveA3: hsla(300, 99.5%, 7.7%, 0.051);
  --mauveA4: hsla(270, 90.5%, 6.1%, 0.071);
  --mauveA5: hsla(270, 83.0%, 5.2%, 0.091);
  --mauveA6: hsla(300, 93.5%, 3.7%, 0.114);
  --mauveA7: hsla(270, 82.6%, 3.3%, 0.142);
  --mauveA8: hsla(255, 95.2%, 3.7%, 0.220);
  --mauveA9: hsla(255, 94.8%, 3.7%, 0.444);
  --mauveA10: hsla(253, 96.5%, 3.8%, 0.483);
  --mauveA11: hsla(247, 97.9%, 3.2%, 0.569);
  --mauveA12: hsla(261, 98.7%, 3.0%, 0.918);

  --violet1: hsl(255, 65.0%, 99.4%);
  --violet2: hsl(252, 100%, 99.0%);
  --violet3: hsl(252, 96.9%, 97.4%);
  --violet4: hsl(252, 91.5%, 95.5%);
  --violet5: hsl(252, 85.1%, 93.0%);
  --violet6: hsl(252, 77.8%, 89.4%);
  --violet7: hsl(252, 71.0%, 83.7%);
  --violet8: hsl(252, 68.6%, 76.3%);
  --violet9: hsl(252, 56.0%, 57.5%);
  --violet10: hsl(251, 48.1%, 53.5%);
  --violet11: hsl(250, 43.0%, 48.0%);
  --violet12: hsl(254, 60.0%, 18.5%);

  --surface-bg-color: #fff;
  --header-bg-color: var(--mauve1);
  --header-border-color: var(--mauve6);
  --sidebar-border-color: var(--mauve6);
  --aside-border-color: var(--mauve6);
  --base-text-color: var(--mauve12);
  --prose-text-color: var(--base-text-color);
  --prose-headings-color: var(--base-text-color);
  --pre-background-color: var(--mauve12);
  --code-text-color: var(--violet11);
  --code-bg-color: var(--violet3);
  --sidebar-active-link-bg-color: var(--violet5);
  --sidebar-active-link-text-color: var(--violet11);
  --aside-active-link-text-color: var(--violet11);
  --prose-table-border-color: var(--mauve6);
  --pre-title-border-color: rgba(253,252,253,.14);
  --pre-title-text-color: var(--mauve8);
  --pre-tabs-text-color: var(--mauve8);
  --pre-tabs-active-text-color: var(--mauve1);
  --pre-tabs-active-border-color: var(--violet8);
  --copy-code-text-color: hsl(0deg 0.39% 49.81%);
  --copy-code-bg-color: hsl(260deg 8.79% 17.57%);
  --copy-code-border-color: hsl(260deg 2.18% 34.05%);
  --note-icon-color: var(--violet10);
  --warning-icon-color: hsl(35, 100%, 55.5%);
  --success-tick-color: hsl(151, 55.0%, 41.5%);
  --code-comment-color: var(--mauve9);
  --code-highlight-color: hsl(0deg 0% 40% / 20%);
  --sidebar-backdrop-color: hsl(0deg 0% 0% / 20%);
}
