<a
  href="{{ links.github.href }}"
  class="link_github"
  target="_blank"
  rel="noopener noreferrer"
  title="{{ links.github.title }}"
>
  @if($slots.github)
    {{{ await $slots.github(links.github) }}}
  @else
    <span class="sr_only">{{ links.github.title || 'Visit us on Github' }}</span>
    @include('docs::partials/icons/octocat')
  @end
</a>
