<button x-data @click.prevent="$store.darkMode.toggle()" title="Toggle color theme" class="theme_switcher">
  @if($slots.themeSwitcher)
    {{{ await $slots.themeSwitcher() }}}
  @else
    <span class="sr_only">Toggle color theme</span>
    <span class="theme_switcher_light_mode">
      @include('docs::partials/icons/sun')
    </span>
    <span class="theme_switcher_dark_mode">
      @include('docs::partials/icons/moon')
    </span>
  @end
</button>
