<button x-data @click.prevent="$store.darkMode.toggle()" title="Toggle color theme">
  <span class="sr_only">Toggle color theme</span>
  <span class="dark_mode_icon_sun">
    @include('docs::partials/icons/sun')
  </span>
  <span class="dark_mode_icon_moon">
    @include('docs::partials/icons/moon')
  </span>
</button>
