<svg aria-hidden="true" focusable="false" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path d="M2 3h12v1H2V3Zm0 9h12v1H2v-1Zm0-6h12v1H2V6Zm0 3h12v1H2V9Z"></path></svg>