<div class="{{ node.properties.className.join(' ') }}">
  <div class="caption_icon">
    @if(node.properties.className.includes('caption-error'))
      @include('docs::partials/icons/caption_cross')
    @else
      @include('docs::partials/icons/caption_tick')
    @end
  </div>
  <div class="caption_contents">
    @!component('dimer_contents', { nodes: node.children, pipeline })~
  </div>
</div>
