<div class="content_wrapper">
  <div class="content_container">
    <article class="markdown">
      {{{ await $slots.main() }}}
    </article>
    @include('docs::partials/content_footer')
  </div>
</div>
