<div class="header_wrapper">
  <header class="header">
    <div class="header_container">
      @include('docs::partials/logo_container')
      @include('docs::partials/search_container')
      @include('docs::partials/nav_container')
    </div>
  </header>
</div>
